.about {
  margin-bottom: 32px;
}

.content {
  margin: 0 200px;
}

.content > p:not(:last-child) {
  margin-bottom: 24px;
}

.content > ul {
  margin-left: 50px;
}

.footer {
  display: flex;
  justify-content: center;
}
